:host {
  display: block;
}

.mat-toolbar {
  background-color: var(--color-primary);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout-button {
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-color: var(--color-error);
  color: var(--color-background);
  background-color: red;
}